@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
  --swiper-pagination-bottom: 0px;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  src: local("Poppins"),
    url(/fonts/poppins/Poppins-Regular.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "PoppinsBold";
  font-style: normal;
  src: local("Poppins"), url(/fonts/poppins/Poppins-Bold.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "PoppinsSemiBold";
  font-style: normal;
  src: local("Poppins"),
    url(/fonts/poppins/Poppins-SemiBold.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "PoppinsMedium";
  font-style: normal;
  src: local("Poppins"),
    url(/fonts/poppins/Poppins-Medium.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  src: local("Inter"), url(/fonts/inter/Inter.ttf) format("truetype");
  font-display: swap;
}

.font-poppins {
  font-family: Poppins;
}

.font-poppins.font-semibold {
  font-family: PoppinsSemiBold;
}

.font-poppins.font-bold {
  font-family: PoppinsBold;
}

.font-poppins.font-medium {
  font-family: PoppinsMedium;
}

.font-inter {
  font-family: Inter;
}

* {
  @apply font-inter;
}

@keyframes carousel {
  0% {
    transform: translateX(0%);
  }
  5% {
    transform: translateX(-4%);
  }
  10% {
    transform: translateX(-9%);
  }
  15% {
    transform: translateX(-14%);
  }
  20% {
    transform: translateX(-18%);
  }
  25% {
    transform: translateX(-23%);
  }
  30% {
    transform: translateX(-27%);
  }
  40% {
    transform: translateX(-36%);
  }
  50% {
    transform: translateX(-45%);
  }
  60% {
    transform: translateX(-54%);
  }
  70% {
    transform: translateX(-63%);
  }
  80% {
    transform: translateX(-72%);
  }
  90% {
    transform: translateX(-81%);
  }
  100% {
    transform: translateX(-90%);
  }
}

a {
  text-decoration: none;
  color: unset;
}

.partners-animation {
  animation-name: carousel;
  animation-timing-function: linear; 
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running; 
}

.carousel-slow {
  animation-duration: 80s;
}

.max-lines-1 {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

/** Swiper */

.swiper {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-wrapper {
  margin-bottom: 50px;
}

.section-padding {
  @apply px-[16px] py-[16px] border-[0px] md:px-[32px];
}

.section-border {
  @apply border-[0px] border-b border-border-1 border-solid;
}

.desktop-container {
  @apply max-w-[1440px] mx-auto md:items-center;
}

.TrengoWidgetLauncher__iframe {
  transition: 500ms bottom;
}

body.move-trengo .TrengoWidgetLauncher__iframe {
  bottom: 100px;
}
